# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Project-specific artifacts
outputs/
plots/
old_scripts/
learning_to_adapt/
archive/
draft/
configs/catalog/
contribution/
tests/
nagabandi/

.vscode/
csv/

*.png
.DS_Store
