experiment_name: grbal_HC_disabled_meta_largeMK_stable
algo: grbal_fidelity
env: HalfCheetahCustom-v0 #HopperCustom-v0 HalfCheetahCustom-v0 AntCustom-v0
device: auto # cpu or cuda 

train:
  seed: 42
  max_path_length: 1000
  total_env_steps: 1_000_000
  steps_per_iter: 10_000
  eval_interval_steps: 50_000

  perturbation:
    type: action_scaling
    probability: 1
    candidate_action_indices: [0,1,2,3,4]
    range: [0.0, 0.0]

  # Dynamics model
  pretrain_epochs: 10
  hidden_sizes: [256, 256, 256]
  learning_rate: 0.001
  train_epochs: 100
  valid_split_ratio: 0.1
  patience: 5

  # mpc planner
  planner: "rs" # rs cem
  horizon: 20
  n_candidates: 2_000
  discount: 0.99

  # meta data windowing
  past_window_size: 64
  future_window_size: 64
  meta_batch_size: 128

  # inner / outer adaptation
  inner_lr: 0.005
  inner_steps: 1
  meta_outer_lr: 0.0005
  meta_epochs_per_iteration: 120

eval:
  episodes: 10
  seeds: [0,1,2,3,4,5,6,7,8,9]

  perturbation:
    type: action_scaling
    probability: 1
    candidate_action_indices: [0,1,2,3,4]
    range: [0.0, 0.0]

