experiment_name: ppo_checkpoint
algo: ppo
env: HalfCheetahCustom-v0
device: auto   # cpu or cuda or auto

train:
  total_env_steps: 100_000
  eval_interval_steps: 10_000
  seed: 42
  learning_rate: 0.0003  
  n_steps: 4096             
  batch_size: 256           
  n_epochs: 10              
  gamma: 0.99
  clip_range: 0.2

eval:
  # --- evaluation phase ---
  episodes: 10
  seeds: [0,1,2,3,4,5,6,7,8,9]