experiment_name: tsra_kstep_ant_smoke
algo: tsra_kstep_mppi
env: GymAnt-v0
device: cpu
exclude_current_positions_from_observation: true

train:
  seed: 0
  max_episode_length: 1000
  eval_interval_steps: 0

  iterations: 1
  steps_per_iteration: 2000
  train_epochs: 2
  batch_size: 32
  valid_split_ratio: 0.1

  k_horizon: 15
  lambda_anchor: 0.2
  grad_clip_norm: 1.0
  residual_bound: 1.0
  correction_l2: 1e-4

  pretrained_dynamics_model:
    model_path: "outputs/2026-02-09/ant_base_dynamics_epoch_30/model.pt"
    config_path: "outputs/2026-02-09/ant_base_dynamics_epoch_30/config.yaml"

  residual_adapter:
     hidden_sizes: [64]
     activation: relu
     input_mode: sabase
     output_mode: delta_next_obs
     zero_init_last_layer: true
     bound_type: clamp
     bound_scale: 1.0
     bound_max_abs: 1.0

  learning_rate: 5e-4
  weight_decay: 0.0
  l2_penalty_weight: 0.0

  planner:
    type: "cem"
    horizon: 15
    n_candidates: 250
    discount: 0.99
    num_cem_iters: 4
    percent_elites: 0.15
    alpha: 0.20

  perturbation:
    type: cripple
    probability: 0
    candidate_action_indices: [[6,7]]

eval:
  episodes: 1
  seeds: [0]
  k_list: [1, 3]

  perturbation:
    type: cripple
    probability: 0
    candidate_action_indices: [[6,7]]
